## Import All Necessary Packages/Library

In [1]:
import pandas as pd

## Data Wrangling

### Gathering Data

In [2]:
df = pd.read_csv('data/riasec/data.csv', delimiter='\t')
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_22348\1502588664.py:1: DtypeWarning: Columns (93) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/riasec/data.csv', delimiter='\t')

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,orientation,race,voted,married,familysize,uniqueNetworkLocation,country,source,major,Unnamed: 93
0,3,4,3,1,1,4,1,3,5,5,...,1,1,2,1,1,1,US,2,NaN,NaN
1,1,1,2,4,1,2,2,1,5,5,...,3,4,1,2,3,1,US,1,Nursing,NaN
2,2,1,1,1,1,1,1,1,4,1,...,1,4,2,1,1,1,US,1,NaN,NaN
3,3,1,1,2,2,2,2,2,4,1,...,1,1,2,1,1,1,CN,0,NaN,NaN
4,4,1,1,2,1,1,1,2,5,5,...,3,1,2,1,4,1,PH,0,education,NaN

### Assessing Data

In [3]:
print(df.shape)

(145828, 94)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145828 entries, 0 to 145827
Data columns (total 94 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   R1                     145828 non-null  int64
 1   R2                     145828 non-null  int64
 2   R3                     145828 non-null  int64
 3   R4                     145828 non-null  int64
 4   R5                     145828 non-null  int64
 5   R6                     145828 non-null  int64
 6   R7                     145828 non-null  int64
 7   R8                     145828 non-null  int64
 8   I1                     145828 non-null  int64
 9   I2                     145828 non-null  int64
 10  I3                     145828 non-null  int64
 11  I4                     145828 non-null  int64
 12  I5                     145828 non-null  int64
 13  I6                     145828 non-null  int64
 14  I7                     145828 non-null  int64
 15  I8                     145828 non-null  int64
 16  A1                     145828 non-null  int64
 17  A2                     145828 non-null  int64
 18  A3                     145828 non-null  int64
 19  A4                     145828 non-null  int64
 20  A5                     145828 non-null  int64
 21  A6                     145828 non-null  int64
 22  A7                     145828 non-null  int64
 23  A8                     145828 non-null  int64
 24  S1                     145828 non-null  int64
 25  S2                     145828 non-null  int64
 26  S3                     145828 non-null  int64
 27  S4                     145828 non-null  int64
 28  S5                     145828 non-null  int64
 29  S6                     145828 non-null  int64
 30  S7                     145828 non-null  int64
 31  S8                     145828 non-null  int64
 32  E1                     145828 non-null  int64
 33  E2                     145828 non-null  int64
 34  E3                     145828 non-null  int64
 35  E4                     145828 non-null  int64
 36  E5                     145828 non-null  int64
 37  E6                     145828 non-null  int64
 38  E7                     145828 non-null  int64
 39  E8                     145828 non-null  int64
 40  C1                     145828 non-null  int64
 41  C2                     145828 non-null  int64
 42  C3                     145828 non-null  int64
 43  C4                     145828 non-null  int64
 44  C5                     145828 non-null  int64
 45  C6                     145828 non-null  int64
 46  C7                     145828 non-null  int64
 47  C8                     145828 non-null  int64
 48  introelapse            145828 non-null  int64
 49  testelapse             145828 non-null  int64
 50  surveyelapse           145828 non-null  int64
 51  TIPI1                  145828 non-null  int64
 52  TIPI2                  145828 non-null  int64
 53  TIPI3                  145828 non-null  int64
 54  TIPI4                  145828 non-null  int64
 55  TIPI5                  145828 non-null  int64
 56  TIPI6                  145828 non-null  int64
 57  TIPI7                  145828 non-null  int64
 58  TIPI8                  145828 non-null  int64
 59  TIPI9                  145828 non-null  int64
 60  TIPI10                 145828 non-null  int64
 61  VCL1                   145828 non-null  int64
 62  VCL2                   145828 non-null  int64
 63  VCL3                   145828 non-null  int64
 64  VCL4                   145828 non-null  int64
 65  VCL5                   145828 non-null  int64
 66  VCL6                   145828 non-null  int64
 67  VCL7                   145828 non-null  int64
 68  VCL8                   145828 non-null  int64
 69  VCL9                   145828 non-null  int64
 70  VCL10                  145828 non-null  int64
 71  VCL11                  145828 non-null  int64
 72  VCL12                  145828 non-null  int64
 73  VCL13                  145828 non-null  int64
 74  VCL14                  145828 non-null  int64
 75  VCL15                  145828 non-null  int64
 76  VCL16                  145828 non-null  int64
 77  education              145828 non-null  int64
 78  urban                  145828 non-null  int64
 79  gender                 145828 non-null  int64
 80  engnat                 145828 non-null  int64
 81  age                    145828 non-null  int64
 82  hand                   145828 non-null  int64
 83  religion               145828 non-null  int64
 84  orientation            145828 non-null  int64
 85  race                   145828 non-null  int64
 86  voted                  145828 non-null  int64
 87  married                145828 non-null  int64
 88  familysize             145828 non-null  int64
 89  uniqueNetworkLocation  145828 non-null  int64
 90  country                145816 non-null  object
 91  source                 145828 non-null  int64
 92  major                  92954 non-null   object
 93  Unnamed: 93            1 non-null       object
dtypes: int64(91), object(3)
memory usage: 104.6+ MB

In [5]:
df.isna().sum()

R1                            0
R2                            0
R3                            0
R4                            0
R5                            0
                          ...
uniqueNetworkLocation         0
country                      12
source                        0
major                     52874
Unnamed: 93              145827
Length: 94, dtype: int64

It appears that there are missing values in the 'country', 'major', and 'unnamed:93' columns

### Cleaning Data

Initially, we will clean the missing values in the 'unnamed: 93' column by employing a dropping method. This decision was made due to the lack of significant information contained within this column.

In [ ]:
df = df.drop(columns=['unnamed: 93'])
df.head()

,R1,R2,R3,R4,R5,R6,R7,R8,I1,I2,...,religion,orientation,race,voted,married,familysize,uniqueNetworkLocation,country,source,major
0,3,4,3,1,1,4,1,3,5,5,...,7,1,1,2,1,1,1,US,2,NaN
1,1,1,2,4,1,2,2,1,5,5,...,7,3,4,1,2,3,1,US,1,Nursing
2,2,1,1,1,1,1,1,1,4,1,...,7,1,4,2,1,1,1,US,1,NaN
3,3,1,1,2,2,2,2,2,4,1,...,0,1,1,2,1,1,1,CN,0,NaN
4,4,1,1,2,1,1,1,2,5,5,...,4,3,1,2,1,4,1,PH,0,education

Next, we'll impute the missing values in the 'country' column with the most frequent value observed in the data.

In [12]:
df.country.value_counts()

country
US    80579
MY     7841
CA     7256
SG     5769
GB     5533
      ...
SS        1
LA        1
FK        1
NR        1
UZ        1
Name: count, Length: 188, dtype: int64

In [ ]:
df['country'] = df['country'].fillna('Unknown')
df.isna().sum()

R1                           0
R2                           0
R3                           0
R4                           0
R5                           0
                         ...
familysize                   0
uniqueNetworkLocation        0
country                      0
source                       0
major                    52874
Length: 93, dtype: int64

Finally, we will fill the missing values in the 'major' column with the category 'Unknown'. This is done to prevent bias during the clustering process

In [18]:
df['major'] = df['major'].fillna('Unknown')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145828 entries, 0 to 145827
Data columns (total 93 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   R1                     145828 non-null  int64
 1   R2                     145828 non-null  int64
 2   R3                     145828 non-null  int64
 3   R4                     145828 non-null  int64
 4   R5                     145828 non-null  int64
 5   R6                     145828 non-null  int64
 6   R7                     145828 non-null  int64
 7   R8                     145828 non-null  int64
 8   I1                     145828 non-null  int64
 9   I2                     145828 non-null  int64
 10  I3                     145828 non-null  int64
 11  I4                     145828 non-null  int64
 12  I5                     145828 non-null  int64
 13  I6                     145828 non-null  int64
 14  I7                     145828 non-null  int64
 15  I8                     145828 non-null  int64
 16  A1                     145828 non-null  int64
 17  A2                     145828 non-null  int64
 18  A3                     145828 non-null  int64
 19  A4                     145828 non-null  int64
 20  A5                     145828 non-null  int64
 21  A6                     145828 non-null  int64
 22  A7                     145828 non-null  int64
 23  A8                     145828 non-null  int64
 24  S1                     145828 non-null  int64
 25  S2                     145828 non-null  int64
 26  S3                     145828 non-null  int64
 27  S4                     145828 non-null  int64
 28  S5                     145828 non-null  int64
 29  S6                     145828 non-null  int64
 30  S7                     145828 non-null  int64
 31  S8                     145828 non-null  int64
 32  E1                     145828 non-null  int64
 33  E2                     145828 non-null  int64
 34  E3                     145828 non-null  int64
 35  E4                     145828 non-null  int64
 36  E5                     145828 non-null  int64
 37  E6                     145828 non-null  int64
 38  E7                     145828 non-null  int64
 39  E8                     145828 non-null  int64
 40  C1                     145828 non-null  int64
 41  C2                     145828 non-null  int64
 42  C3                     145828 non-null  int64
 43  C4                     145828 non-null  int64
 44  C5                     145828 non-null  int64
 45  C6                     145828 non-null  int64
 46  C7                     145828 non-null  int64
 47  C8                     145828 non-null  int64
 48  introelapse            145828 non-null  int64
 49  testelapse             145828 non-null  int64
 50  surveyelapse           145828 non-null  int64
 51  TIPI1                  145828 non-null  int64
 52  TIPI2                  145828 non-null  int64
 53  TIPI3                  145828 non-null  int64
 54  TIPI4                  145828 non-null  int64
 55  TIPI5                  145828 non-null  int64
 56  TIPI6                  145828 non-null  int64
 57  TIPI7                  145828 non-null  int64
 58  TIPI8                  145828 non-null  int64
 59  TIPI9                  145828 non-null  int64
 60  TIPI10                 145828 non-null  int64
 61  VCL1                   145828 non-null  int64
 62  VCL2                   145828 non-null  int64
 63  VCL3                   145828 non-null  int64
 64  VCL4                   145828 non-null  int64
 65  VCL5                   145828 non-null  int64
 66  VCL6                   145828 non-null  int64
 67  VCL7                   145828 non-null  int64
 68  VCL8                   145828 non-null  int64
 69  VCL9                   145828 non-null  int64
 70  VCL10                  145828 non-null  int64
 71  VCL11                  145828 non-null  int64
 72  VCL12                  145828 non-null  int64
 73  VCL13                  145828 non-null  int64
 74  VCL14                  145828 non-null  int64
 75  VCL15                  145828 non-null  int64
 76  VCL16                  145828 non-null  int64
 77  education              145828 non-null  int64
 78  urban                  145828 non-null  int64
 79  gender                 145828 non-null  int64
 80  engnat                 145828 non-null  int64
 81  age                    145828 non-null  int64
 82  hand                   145828 non-null  int64
 83  religion               145828 non-null  int64
 84  orientation            145828 non-null  int64
 85  race                   145828 non-null  int64
 86  voted                  145828 non-null  int64
 87  married                145828 non-null  int64
 88  familysize             145828 non-null  int64
 89  uniqueNetworkLocation  145828 non-null  int64
 90  country                145828 non-null  object
 91  source                 145828 non-null  int64
 92  major                  145828 non-null  object
dtypes: int64(91), object(2)
memory usage: 103.5+ MB

It seems that everything is clear now

In [21]:
df.to_csv("data/riasec/cleaned_data.csv", index=False)